:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset styles */

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 16px;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Task 1 styles */

#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#categories .item {
    padding: 16px;
    background-color: #F6F6FE;
    min-width: 360px;
}

#categories h2 {
  margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item li {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
}